[Unit]
Description=strongSwan IPsec IKEv1/IKEv2 daemon using ipsec.conf
After=syslog.target network-online.target

[Service]
ExecStart=/usr/local/sbin/ipsec start --nofork
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
